<footer>
  
  <div class="footer-sections container-fluid">
    <section class="row">
      <div class="footer-payment col">
        <p class="text-center">Formas de Pagamento</p>
        <ul>
          <li><i class="fab fa-cc-visa"></i></li>
          <li><i class="fab fa-cc-mastercard"></i></li>
          <li><i class="fab fa-cc-amex"></i></li>
          <li><img src="/images/boleto.webp" alt=""></li>
        </ul>

      </div>
      <div class="footer-certificates text-center col">
        <p>Certificados</p>
        
        <section>

          <a href="">
            <i class="fas fa-shield-alt"></i>
          </a><span>Site Blindado</span>
          <span>Auditado em 20/01/2021</span>
        </section>


      </div>
      <div class=" col ">
        <p class="text-center">Formas de Pagamento</p>

      </div>

    </section>    


  </div>





  
</footer>











  <!--   <div class="footer-sections">
    <div class="footer-payment">
      <section><h3>Formas de pagamento</h3></section>
      
    </div>
  </div>

  <div class="footer-social">
    <div style="color: white;">Redes Sociais</div>
    
    <div class="footer-icons">

        <a href="">
            <i class="fab fa-twitter-square"></i>

        </a>

      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
     
      <a href="">
          <i class="fab fa-facebook-square"></i>
      </a>
    </div>
  </div> -->