<footer>
  
  <div class="footer-sections container-fluid">
    <section class="row">
      <div class="footer-payment col">
        <p class="text-center">Formas de Pagamento</p>
        <ul>
          <li>
            <!-- <i class="fab fa-cc-visa"></i> -->
            <img src="/images/visa.svg" alt="">
          </li>
          <li>
            <!-- <i class="fab fa-cc-mastercard"></i> -->
            <img src="/images/mastercard.svg" alt="" class="footer-payment-svg">
          </li>
          <li>
            <!-- <i class="fab fa-cc-amex"></i> -->
            <img src="/images/Elo-card.png" alt="">
          </li>
          <li>
            <img src="/images/boleto.webp" alt="">
          </li>
        </ul>

      </div>
      <div class="footer-certificates text-center col">
        <p class="text-center">Certificados</p>
        
        <section>
            <!-- <i class="fas fa-shield-alt"></i> -->
            <img src="/images/shield-security.svg" alt="">
          <span class="text-center">Site Blindado</span>
          <!-- <span class="text-center">Auditado em 20/01/2021</span> -->
        </section>


      </div>
      <div class="footer-social col">
        <p class="text-center">Redes Sociais</p>
        <ul>
          <li>
            <a href="https://www.facebook.com" target="blank">
              <img src="/images/facebook.svg" alt="">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="blank">
              <img src="/images/instagram.svg" alt="">
            </a>
          </li>
          <li>
            <a href="http://twitter.com" target="blank">
              <img src="/images/twitter.svg" alt="">
            </a>
          </li>
        </ul>

      </div>

    </section>    


  </div>

  
</footer>











  <!--   <div class="footer-sections">
    <div class="footer-payment">
      <section><h3>Formas de pagamento</h3></section>
      
    </div>
  </div>

  <div class="footer-social">
    <div style="color: white;">Redes Sociais</div>
    
    <div class="footer-icons">

        <a href="">
            <i class="fab fa-twitter-square"></i>

        </a>

      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
     
      <a href="">
          <i class="fab fa-facebook-square"></i>
      </a>
    </div>
  </div> -->