<%- include('./partials/head'); %>
  <%- include('./partials/header'); %>

    <main class="container-fluid">

      <section  id="create">
      <h1>Faça seu cadastro</h1>
      

      <form action="/users/save" method="POST">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Seu nome" required>
          </div>
          <div class="form-group col-md-6">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" name="sobrenome" id="sobrenome" class="form-control" placeholder="Seu sobrenome" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="email@email.com" required>
        </div>
        <div class="form-group col-md-6">
          <label for="senha">Senha</label>
          <input type="password" name="senha" class="form-control" id="senha" placeholder="Senha">
        </div>
        <div class="form-group col-md-6">
          <label for="confSenha">Confirme sua senha</label>
          <input type="password" name="confSenha" class="form-control" id="confSenha" placeholder="Confirme senha" required>
        </div>
        <% if(typeof validate !== "undefined"){ %>
          <div class="alert alert-warning create-validate" role="alert">
            Senha e Confirme senha não conferem
          </div>
        <% } %> 
    
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      </section>
    </main>

    <%- include('./partials/footer'); %>
      </body>

      </html>