<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>

    <section>

        <div class="text-center">
            <form>
                <img class="mt-4 mb-4" src="/images/logo.PNG" height="100" alt="login-logo"></a>
                <h1 class="h3 mb-3 font-weight-normal">Por favor faça o login</h1>
                <label for="emailAddress" class="sr-only">Endereço de E-mail</label>
                <input type="email" id="emailAddress" class="form-control" placeholder="Endereço de E-mail" required autofocus>
                <label for="password" class="sr-only">Senha</label>
                <input type="password" id="password" placeholder="Senha" class="form-control">
                <button class="btn btn-lg btn-primary">Entrar</button>
            </form>
        </div>

<!--     
        <main class="login">
            <h2>Login</h2>
            <form action="">
                <div class="input-field">
                    <input type="text" name="username" id="username" placeholder="Insira seu usuário">
                    <div class="underline"></div>
                </div>
                <form action="">
                    <div class="input-field">
                        <input type="password" name="password" id="password" placeholder="Insira sua senha">
                        <div class="underline"></div>
                    </div>

                    <input type="submit" value="Continue">
            </form>

            <div class="medias">
                <span>Ou conecte com sua rede social</span>
                <div class="social-fields">
                    <div class="social-field google">
                        <a href="#"></a>
                        <i class="fab fa-google"></i>
                        Login com conta Google
                    </div>
                </div>
                <div class="social-fields">
                    <div class="social-field google">
                        <a href="#"></a>
                        <i class="fab fa-facebook-f"></i>
                        Login com conta facebook
                    </div>
                </div>
            </div>
        </main> -->

    </section>


    <%- include('./partials/footer'); %>
</body>

</html>