<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>

    <section>

<!--     
        <main class="login">
            <h2>Login</h2>
            <form action="">
                <div class="input-field">
                    <input type="text" name="username" id="username" placeholder="Insira seu usuário">
                    <div class="underline"></div>
                </div>
                <form action="">
                    <div class="input-field">
                        <input type="password" name="password" id="password" placeholder="Insira sua senha">
                        <div class="underline"></div>
                    </div>

                    <input type="submit" value="Continue">
            </form>

            <div class="medias">
                <span>Ou conecte com sua rede social</span>
                <div class="social-fields">
                    <div class="social-field google">
                        <a href="#"></a>
                        <i class="fab fa-google"></i>
                        Login com conta Google
                    </div>
                </div>
                <div class="social-fields">
                    <div class="social-field google">
                        <a href="#"></a>
                        <i class="fab fa-facebook-f"></i>
                        Login com conta facebook
                    </div>
                </div>
            </div>
        </main> -->

    </section>


    <%- include('./partials/footer'); %>
</body>

</html>