<%- include('./partials/head'); %> 
<%- include('./partials/header'); %>



<section>

    <div class="container-fluid">
            <div class="row box">
                <div class="col-8">
                    <div>
                        <h3>Livro 1</h3>
                        <img src="/images/contos.PNG" class="">
                        <h3>Descrição</h3>
                    </div>
                </div>

                <div class="col-4">
                    <h3>Preço</h3>
                    <h3>R$ 00,00</h3>

                </div>
            </div>
    </div>

</section>








<%- include('./partials/footer'); %> 
</body>
</html>