<%- include('./partials/head'); %>
    <%- include('./partials/header'); %>



        <section>

                <div class="row justify-content-md-center">
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="group">
                        <div class="home-book">
                            <img src="/images/geekbook.webp" class="book">
                            <h1>Livro: Geek</h1>
                            <h3>Autor: Fulano</h3>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="group">
                                <h4>Descrição:</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat deleniti libero fuga,
                                    tenetur blanditiis, ipsam, neque voluptatem aut quis accusantium deserunt consectetur
                                    quidem! Quas veritatis itaque, facere nam saepe non!</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-12">
                            <div class="group">
                                <h1>Preço</h1>
                                <h2>R$ 0,00</h2>
                            </div>
                            <div class="group">
                                <div class="navbutton">
                                <button type="button" class="btn btn-primary">Calcular Rota</button>
                                </div>
                            </div>
                            <div class="group">
                                <div class="navbutton">
                                <button type="button" class="btn btn-primary">
                                    <i class="fas fa-cart-arrow-down"></i>Comprar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            

        </section>








        <%- include('./partials/footer'); %>
            </body>

            </html>