body{
    font-family: arial;
    display: flex;
    contain: content;
    border: silver;
    padding: 30px;
    margin: 30px;
}

h1{
    color: rgb(15, 212, 238);
}

section .container {
    width: 107%;
    height: 77vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px; 
    padding: 10px;
    margin: 10px;
  }

 